/* Beginning of Reset CSS, by Eric Meyer.
Copied and pasted from meyerweb in 2023.
https://meyerweb.com/eric/tools/css/reset 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
/* End of Reset CSS. */

/* RobertoQS CSS */
:root {
	--serif-font: "EB Garamond", Garamond, serif;
	--mono-font: "Monospace", monospace;
	--bg: #212426;
	--accent-bg: #17171A;
	--text: #CCEEFF;
	--border: #667780;
	--accent: #00AAFF;
	--accent-hover: #00FFFF;
	--accent-visited: #006AFF;
 }
@font-face {
 	font-family: "EB Garamond";
 	src: url("/css/EBGaramond-Regular-Variable.ttf");
	font-style: normal;
}
@font-face {
	font-family: "EB Garamond";
	src: url("/css/EBGaramond-Italic-Variable.ttf");
	font-style: italic;	
}
html { 
	font-family: "EB Garamond", Garamond, serif;
	margin: 0 auto;
	max-width: 40rem;
	font-size: 100%;
	background: #000000;
	color: var(--text);
	scroll-behavior: smooth;
}
body {
	font-size: 1rem;
	line-height: 1;
}
@media (min-width: 20rem){
	body{
		font-size:calc(1rem + 0.00625 * (100vw - 20rem));
	}
}
@media (min-width: 40rem){
  	body{
		font-size:1.125rem;
	}
}


header {
	margin: 0;
	padding: 1rem 0 1.25rem;
	border-bottom: 1px solid var(--accent);
	border-left: 1px solid var(--accent);
	border-right: 1px solid var(--accent);	
	background: var(--accent-bg);
	color: var(--accent);
	text-align: center;
}
header h1 {
	margin: 0;
	font-size: 1.75rem;
	font-weight: 550;
}
header h1 a:visited {
	color: var(--accent);
}
header h1 a:active {
	color: var(--accent-hover);
}
header h1 a:hover {
	color: var(--accent-hover);
}
header p {
	margin: 0;
	font-size: 1.25rem;
	font-weight: 500;
	font-variant: small-caps;
}
nav details {
  margin: -0.85rem -0.9rem -0.8rem;
  background: var(--accent-bg);
  color: var(--accent);
	font-size: 1.25rem;
	font-weight: 500;
	font-variant: small-caps;
}
nav ul {
  margin: 0 0 0 2.15rem;
	font-size: 1.25rem;
	font-weight: 500;
	font-variant: small-caps;
  list-style: none;
}
nav li {
	margin-bottom: 0.35rem;
}

main {
	font: inherit;
}
article {
}
section {
	margin: 2rem 0.05rem;
	padding: 1rem 1.5rem;
	outline: 1px solid var(--border);
	background: var(--bg);
	overflow-x: auto;
	scroll-behavior: smooth;
}
.nav {
	margin: 0.5rem 0.05rem;
	padding: 0.5rem 1.5rem;
	outline: 1px solid var(--accent);
	background: var(--accent-bg);
	overflow: hidden;
}

p {
	margin: 1rem 0;
	line-height: 1.25;
}
.strophe {
	white-space: nowrap;
}
.idioma-language{
	margin: 0.15rem 0 0;
	font-size: 1.25rem;
	font-weight: 500;
}
sup { 
	vertical-align: top; 
 	font-size: 0.8rem;
	position: relative;
	top: -0.2rem;
}
blockquote {
	margin: 1rem 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding: 0 0.5rem 0 1rem;
	border-inline-start: 1px solid var(--accent);
	line-height: 1.25;
}

ul, ol {
	margin: 0 0 0 2.15rem;
	line-height: 1.25;
}
ul {
	list-style: square;
}
li {
	margin: 1rem 0;
}

h1, h2, h3 {
	font: inherit;
}
h1 {
	margin: 0.2rem 0 0;
	font-size: 2rem;
	font-variant: small-caps;
}
h1 a:visited {
	color: var(--accent);
}
h1 a:active {
	color: var(--accent-hover);
}
h1 a:hover {
	color: var(--accent-hover);
	text-decoration: none;
}
h1 + details {
	margin-top: -0.2rem;
}
h1 + table {
	margin: 1rem 0 0;
}
h2 {
	margin: 1rem 0 0;
	font-size: 1.55rem;
}
h2 a:visited {
	color: var(--accent);
}
h2 a:active {
	color: var(--accent-hover);
}
h2 a:hover {
	color: var(--accent-hover);
	text-decoration: none;
}
h3 {
	margin: 1rem 0 0;
	font-size: 1.1rem;
}
p + h2, p + h3 {
	margin: 2rem 0 0;
}

details {
	margin: 0 -0.9rem -0.25rem;
	background: var(--bg);
}
summary {
	font-size: 1.25rem;
	font-variant: small-caps;
	cursor: pointer;
	padding: 1rem 1rem;
}
details[open] {
	margin-bottom: -1rem;
	padding: 1rem 1rem;
}
details[open] summary{
	padding: 0;
}
details[open] > *:last-child{
	margin-bottom: 0;
}
/*.nav {
	margin: 0;
	list-style-image: url("/css/menu-icon.svg");
 	list-style-type:"\2630";
	color: var(--accent);
	background: var(--bg);
	outline: none;
}*/
details + p {
	margin-top: 0.35rem;
}

a:link {
	color: var(--accent);
	text-decoration: none;
}
a:visited {
	color: var(--accent-visited);
}
a:active {
	color: var(--accent-hover);
}
a:hover {
	color: var(--accent-hover);
	text-decoration: none;
}


code {
	padding: 0 0.1rem 0.1rem 0.1rem;
	font-family: var(--mono-font);
	color: var(--text);
	background: var(--accent-bg);
}
pre {
	padding: 0.1rem 0.1rem 0.3rem 0.1rem;
	background: var(--accent-bg);
	max-width: 100%;
	overflow-x: auto;
}


button {
	outline: none;
	box-sizing: border-box;
	margin: 0;
	padding: calc(.25rem - 1px) 0.5rem;
	font-family: inherit;
	font-size: inherit;
	border: 0px;
	border-radius: 1rem;
	background: var(--accent);
	color: var(--bg);
	display: inline-block;
	width: auto;
	cursor: pointer;
}


hr {
	height: 1px;
	margin: -0.6rem 0 0.3rem;
	border: none;
	background: var(--border);
}


body footer {
	margin: 0;
	padding: 1rem 1.5rem 1.5rem;
	border-top: 1px solid var(--accent);
	border-left: 1px solid var(--accent);
	border-right: 1px solid var(--accent);	
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background: var(--bg);
	color: var(--text);
	text-align: center;
	line-height: 1.25;
}


::selection {
	background: rgba(0, 170, 255, 0.30);
}
